{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <h1>About Us
      </h1>
      <br>
      <h2>Game developed by <b>Schuyler and Zach</b></h2>
      <br>
    </div>

    <h1>Team Bios</h1>
    <br>
    <hr>
    <h1><b>Zach Newman</b></h1>
    <br>
    <h2>
      <style>
table, th, td {
  border: 1px solid black;
}
</style>
    <table>
    <thead>
        <tr>
            <th colspan="2">About Zach</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Year</td>
            <td>Freshman</td>
        </tr>
      <tr>
        <td>Major</td>
        <td>Economics</td>
      </tr>
      <tr>
        <td>Hometown</td>
        <td>Milwaukee</td>
      </tr>
       <tr>
            <td>My Team</td>
            <td>Milwaukee Bucks</td>
        </tr>
       <tr>
            <td>Fav. Band</td>
            <td>The Black Keys</td>
        </tr>
       <tr>
            <td>Siblings</td>
            <td>Has two brothers</td>
        </tr>
       <tr>
            <td>Hobbies</td>
            <td>Playing guitar</td>
        </tr>
       <tr>
            <td>Career Goal</td>
            <td>Undecided</td>
        </tr>
    </tbody>
</table>
</h2>
<br>
<img src="https://media-exp1.licdn.com/dms/image/C4D03AQFSsTiO1LFEKw/profile-displayphoto-shrink_200_200/0?e=1591228800&v=beta&t=RXfH3QOtNtIPHdhK0tGAVHmFyDtyUjGp_n137jNT8B8" alt="Zach">
<br>
<br>
<hr>
<h1><b>Schuyler</b></h1>
<br>
<h2>
<table>
<thead>
    <tr>
        <th colspan="2">About Schuyler</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Year</td>
        <td>Freshman</td>
    </tr>
  <tr>
    <td>Major</td>
    <td>Who knows yet</td>
  </tr>
  <tr>
    <td>Hometown</td>
    <td>New York City</td>
  </tr>
   <tr>
        <td>My Team</td>
        <td>NY Yankees</td>
    </tr>
   <tr>
        <td>Fav. Band</td>
        <td>Miles Davis/The Doors</td>
    </tr>
   <tr>
        <td>Siblings</td>
        <td>Older Sister</td>
    </tr>
   <tr>
        <td>Hobbies</td>
        <td>WBRS Radio DJ/Consumer of Memes</td>
    </tr>
   <tr>
        <td>Career Goal</td>
        <td>President of United States, or whatever is available</td>
    </tr>
</tbody>
</table>
</h2>
<br>
<!-- Do not display this right now
<img src="https://ssref.net/scripts/image_resize.cgi?min=200&url=https://d3k2oh6evki4b7.cloudfront.net/req/202001270/images/headshots/c/c18ad6d1_br.jpg" alt="Schuyler"
-->
<img src=/static/homertux.png alt = Schuyler>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
