{% extends "fancylayout.html" %}

{% block content %}

<div class="alert alert-info" role="alert"><h1>Crazy8's by Schuyler and Zach</h1></div>
  <div class="playingCards">
  <h3>Your Message:</h3>
  <h3>{{state['message']}}</h3>
  <br>
  <h3>Computer Player's hand has <b>{{state['computerCount']}}</b> cards</h3>
  <br>
  <h3>Current top card:</h3>
  <b><img src=/static/{{ state['topImage'] }} alt="Card" style="width:110px;height:140px;"></b>
  <br>


  <br>
  <h3>Your hand:</h3>
  {% for i in state['imageForm'] %}
  <img src=/static/{{ i }} alt="Card" style="width:110px;height:140px;">
  {% endfor %}
  <br><br>
  {% for i in state['choiceList'] %}
  <a type="button" class="btn btn-danger btn-lg" style="width:110px;height:50px;">
      <h1>{{ i }}</h1>
    </a>

  {% endfor %}
  <br>
  <br>
  {% if state['needNewSuit'] == True %}
        <prompt>
            <h3>
          <form method="post" action="/play">
          You played an 8. Choose a suit by typing <b>clubs, diamonds, hearts, or spades.</b>
           <input type="text" name="text">
            <input type="submit" class="btn btn-lg btn-danger">
            </form>
            </h3>
            </prompt>
  {% elif state['isOver'] == True %}
    <prompt>
      <h1>GAME OVER!</h1>
      <form method="post" action="/play">
        Type 'again' to restart! <input type="text" name="text">
        <input type="submit" class="btn btn-lg btn-danger">
        </form>
        </prompt>

  {% else %}
  <h3>
  <form method="post" action="/play">
    Type the # of a choice or type "draw": <input type="text" name="text">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  {% endif %}
  </h3>
  <br>
  <br>
  <h3></h3>
  <br>
<h1>  <b></b> </h1>
  <br>
  <br>
  <br>
   <h1></h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
