{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>CRAZY8s</h1>
    <br>
    <h2>A game by <b>Schuyler and Zach</b> </h2>
  </div>
  <h3>Current top card:</h3>
  <br>
  <h1>{{state['topcard']}}</h1>
  <h3>Your hand:</h3>
  <h1>{{state['humanForm']}}
  <br>
  {% if state['needNewSuit'] == True %}
        <prompt>
          <h1>Please enter a suit</h1>
          <form method="post" action="/play">
            Type clubs diamonds hearts or spades. <input type="text" name="text">
            <input type="submit" class="btn btn-lg btn-danger">
            </form>
            </prompt>
  {% else %}
  <h3>
  <form method="post" action="/play">
    Type the number of the Choice you would like or type 'draw' to draw a card. <input type="text" name="text">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  {% endif %}
  </h3>
  <br>
  <br>
  <h3></h3>
  <br>
<h1>  <b></b> </h1>
  <br>
  <br>
  <h3>Your Message:</h3>
  <br>
  <h1>{{state['message']}}</h1>
  <br>
  <br>
  <h3>The letters you've guessed already:</h3>
  <br>
   <h1></h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
