{% extends "fancylayout.html" %}

{% block content %}

<div class="alert alert-info" role="alert"><h1>Crazy8's by Schuyler and Zach</h1>

</div>
  <div class="playingCards">
  <h3>Your Message:</h3>
  <h3>{{state['message']}}</h3>
  <h3>Computer has <b>{{state['computerCount']}}</b> cards</h3>
  <br>
  <h3>Current top card:</h3>
  <b><img src=/static/{{ state['topImage'] }} alt="Card" style="width:120px;height:160px;"></b>
  <br>


  <br>
  <h3>Your hand:</h3>
  {% for i in state['imageForm'] %}
  <div style="display: inline-block;">
  <img src=/static/{{ i }} alt="Card" style="width:120px;height:160px;">
  <form method = "post" action = "/play">
      <input type="submit" name="text" value="{{ loop.index }}" class="btn btn-danger btn-lg" style="width:120px;height:50px;">
    </form>
    </div>
  {% endfor %}
  <br>
  <br>
  {% if state['needNewSuit'] == True %}
        <prompt>
            <h3>
          You played an 8. Choose a suit:
          <form method="post" action="/play" style='display:inline;'>
           <input type="submit" name="text" value='Clubs' class="btn btn-lg btn-danger" style='display:inline;' >
            </form>
            <form method="post" action="/play" style='display:inline;'>
             <input type="submit" name="text" value='Diamonds' class="btn btn-lg btn-danger" style='display:inline;'>
              </form>
              <form method="post" action="/play" style='display:inline;'>
               <input type="submit" name="text" value='Hearts' class="btn btn-lg btn-danger" style='display:inline;'>
                </form>
                <form method="post" action="/play" style='display:inline;'>
                 <input type="submit" name="text" value='Spades' class="btn btn-lg btn-danger" style='display:inline;'>
                  </form>
            </h3>
            </prompt>
  {% elif state['isOver'] == True %}
    <prompt>
      <h1>GAME OVER!
      <form method="post" action="/play">
        Type 'again' to restart! <input type="text" name="text">
        <input type="submit" class="btn btn-lg btn-danger">
        </form>
        </h1>
        </prompt>

  {% else %}
  <h3>
      <div style="display: inline-block;">
        <form method = "post" action = "/play">
            <input type="submit" name="text" value="Draw" class="btn btn-primary btn-lg">
          </form>
          </div>
      </h3>
  {% endif %}
</div>
{% endblock %}
