{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>CRAZY8's</h1>
    <br>
    <h2>A game by <b>Schuyler and Zach</b> </h2>
  </div>
  <h3>Current top card:</h3>
  <b><h1>{{state['topcard']}}</h1></b>
  <h3>Your hand:</h3>
  {% for i in state['imageForm'] %}
  <img src=/static/{{ i }} alt="Card" style="width:110px;height:114px;">
  {% endfor %}
  <br>
  <br>
  <h3>
  <form method="post" action="/play">
    Type the # of a choice or type "draw": <input type="text" name="text">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  </h3>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
