{% extends "fancylayout.html" %}

{% block content %}
<div class="alert alert-info" role="alert"><h1>Crazy8's by Schuyler and Zach
</h1>
</div>
  <h3>Current top card:</h3>
  <b><img src=/static/{{ state['topImage'] }} alt="Card" style="width:120px;height:160px;"></b>
  <h3>Your hand:</h3>
  {% for i in state['imageForm'] %}
  <img src=/static/{{ i }} alt="Card" style="width:120px;height:160px;">
  {% endfor %}
  <br><br>
  {% for i in state['choiceList'] %}
  <div style="display: inline-block;">
  <form method = "post" action = "/play">
      <input type="submit" name="text" value="{{ i }}" class="btn btn-danger btn-lg" style="width:120px;height:50px;">
    </form>
    </div>
  {% endfor %}
  <br>
  <br>
  <h3>
<div style="display: inline-block;">
  <form method = "post" action = "/play">
      <input type="submit" name="text" value="Draw" class="btn btn-primary btn-lg">
    </form>
    </div>
  </h3>
{% endblock %}
